@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p1>
    1) Personal data is not currently saved. Personal data includes: IP Addresses, Email Addresses, Devices, Passwords and other relevant information. Personal data will be saved after adding account features and options. Data such as: subjects, grades, flashcards, notes, attachments that have been added to notes will be saved on a local server, until an option will be added to save files to local devices therefore also not needing a account feature, eliminating data collection.

    2) No other privacy concerns raised, so no additional privacy features added.
</p1>
